root = true

[*]
end_of_line = crlf
charset = utf-8

[*.cs]
# Regla permanente para promover todas las sugerencias de analizadores y estilo a advertencias
dotnet_analyzer_diagnostic.severity = warning
dotnet_compiler_diagnostic.severity = warning

# Preferencia de no usar llaves en bloques de una sola línea (evitar llaves innecesarias)
csharp_prefer_braces = false:warning

# Preferencia de tipos explícitos (evitando var)
csharp_style_var_for_built_in_types = false:warning
csharp_style_var_for_declared_types = false:warning
csharp_style_var_when_type_is_apparent = false:warning

# Forzar cuerpos de expresión (expression-bodied) en todos los casos posibles
csharp_style_expression_bodied_methods = true:warning
csharp_style_expression_bodied_constructors = true:warning
csharp_style_expression_bodied_operators = true:warning
csharp_style_expression_bodied_properties = true:warning
csharp_style_expression_bodied_indexers = true:warning
csharp_style_expression_bodied_accessors = true:warning
csharp_style_expression_bodied_lambdas = true:warning
csharp_style_expression_bodied_local_functions = true:warning

# Desactivar reglas no deseadas en pruebas para evitar falsos positivos
[*.Tests.cs]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1852.severity = none

[**/JCarrillo.AOT.Core.Tests/**/*.cs]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1852.severity = none
